In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("D:\\csv files\\covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
lb = LabelEncoder()

In [5]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x = df.drop(columns = ['has_covid'] , axis = 1)

In [8]:
y = df['has_covid']

In [9]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc = StandardScaler()

In [18]:
x_train_scaled = sc.fit_transform(x_train)

In [19]:
x_train_scaled

array([[ 1.56614097, -0.83793058,  0.        , -0.81649658,  1.52973232],
       [-1.55894504, -0.83793058, -0.49142303, -0.81649658,  0.62988978],
       [-0.98327131, -0.83793058, -0.49142303, -0.81649658,  0.62988978],
       [-0.65431488,  1.19341628, -0.49142303, -0.81649658, -0.26995276],
       [ 1.23718454, -0.83793058,  0.98284607, -0.81649658, -0.26995276],
       [ 1.11382589,  1.19341628,  0.98284607,  1.22474487,  0.62988978],
       [ 0.25031528, -0.83793058,  0.49142303, -0.81649658, -0.26995276],
       [ 0.33255438, -0.83793058,  0.        ,  1.22474487,  0.62988978],
       [ 0.86710857, -0.83793058,  0.        , -0.81649658, -0.26995276],
       [ 1.64838007, -0.83793058,  0.        , -0.81649658,  0.62988978],
       [ 0.90822812, -0.83793058, -1.4742691 , -0.81649658,  1.52973232],
       [-1.02439086, -0.83793058,  1.4742691 , -0.81649658, -1.1697953 ],
       [-1.10662996, -0.83793058,  0.98284607, -0.81649658, -1.1697953 ],
       [-1.10662996,  1.19341628,  1.4742691 , -0.81649658,  0.62988978],
       [-0.65431488,  1.19341628, -0.49142303, -0.81649658,  0.62988978],
       [ 1.68949962, -0.83793058,         nan, -0.81649658, -1.1697953 ],
       [ 0.33255438,  1.19341628,  1.4742691 , -0.81649658,  0.62988978],
       [ 1.07270633, -0.83793058,  0.49142303, -0.81649658, -1.1697953 ],
       [ 1.60726052, -0.83793058,  0.49142303,  1.22474487, -1.1697953 ],
       [ 1.07270633, -0.83793058,  0.98284607, -0.81649658,  0.62988978],
       [ 0.04471751,  1.19341628,  1.4742691 , -0.81649658,  1.52973232],
       [ 1.2783041 ,  1.19341628,  0.49142303, -0.81649658,  1.52973232],
       [-0.94215175, -0.83793058,         nan,  1.22474487,  1.52973232],
       [-1.27110817, -0.83793058,  1.4742691 , -0.81649658, -1.1697953 ],
       [-0.40759757, -0.83793058,  0.49142303,  1.22474487, -0.26995276],
       [-0.03752159, -0.83793058,         nan,  1.22474487, -1.1697953 ],
       [ 0.90822812,  1.19341628, -0.98284607, -0.81649658, -0.26995276],
       [-0.81879309,  1.19341628,         nan, -0.81649658,  1.52973232],
       [ 0.53815215, -0.83793058,  1.4742691 ,  1.22474487, -1.1697953 ],
       [ 0.86710857,  1.19341628,  0.49142303, -0.81649658, -1.1697953 ],
       [-1.22998862, -0.83793058, -0.49142303,  1.22474487,  0.62988978],
       [-0.48983667, -0.83793058, -1.4742691 , -0.81649658,  0.62988978],
       [-0.1197607 , -0.83793058, -1.4742691 ,  1.22474487, -0.26995276],
       [ 0.25031528, -0.83793058,  0.        , -0.81649658, -0.26995276],
       [-0.98327131, -0.83793058, -0.49142303,  1.22474487, -1.1697953 ],
       [-1.31222773,  1.19341628, -0.49142303, -0.81649658, -1.1697953 ],
       [-1.18886907,  1.19341628,  0.        ,  1.22474487, -1.1697953 ],
       [-0.03752159,  1.19341628,  1.4742691 , -0.81649658,  1.52973232],
       [-0.2019998 , -0.83793058,  0.        , -0.81649658, -1.1697953 ],
       [ 0.12695662,  1.19341628,  0.98284607,  1.22474487, -1.1697953 ],
       [ 1.15494544,  1.19341628,         nan,  1.22474487,  0.62988978],
       [-1.35334728, -0.83793058, -1.4742691 ,  1.22474487,  0.62988978],
       [ 0.70263036, -0.83793058, -0.98284607, -0.81649658,  1.52973232],
       [-0.85991265, -0.83793058, -0.98284607, -0.81649658, -1.1697953 ],
       [-0.98327131,  1.19341628,  0.        , -0.81649658, -0.26995276],
       [ 0.90822812,  1.19341628, -0.98284607, -0.81649658, -1.1697953 ],
       [-0.98327131, -0.83793058,  0.        , -0.81649658,  1.52973232],
       [ 0.45591304, -0.83793058,  1.4742691 ,  1.22474487,  0.62988978],
       [ 1.56614097, -0.83793058, -1.4742691 ,  1.22474487,  1.52973232],
       [-0.94215175, -0.83793058,  0.        , -0.81649658, -1.1697953 ],
       [ 0.20919572, -0.83793058,  0.98284607, -0.81649658,  0.62988978],
       [ 1.60726052,  1.19341628,         nan, -0.81649658,  0.62988978],
       [-0.81879309,  1.19341628, -1.4742691 ,  1.22474487,  1.52973232],
       [ 0.94934767,  1.19341628, -0.98284607,  1.22474487, -1.1697953 ],
       [-1.55894504, -0.83793058, -1.4742691 ,  1.22474487,  1.52973232],
       [ 0.25031528, -0.83793058, -0.98284607,  1.22474487, -1.1697953 ],
       [-1.55894504,  1.19341628,  0.49142303, -0.81649658,  0.62988978],
       [-0.36647801, -0.83793058,  0.        ,  1.22474487, -0.26995276],
       [ 1.48390186,  1.19341628,         nan,  1.22474487,  0.62988978],
       [-1.51782549, -0.83793058,  1.4742691 , -0.81649658,  0.62988978],
       [-1.35334728,  1.19341628, -0.49142303, -0.81649658, -1.1697953 ],
       [ 1.07270633, -0.83793058, -1.4742691 ,  1.22474487,  1.52973232],
       [ 0.49703259,  1.19341628, -0.49142303, -0.81649658,  0.62988978],
       [-0.36647801, -0.83793058,         nan,  1.22474487,  1.52973232],
       [-0.65431488,  1.19341628, -0.49142303, -0.81649658, -0.26995276],
       [ 0.16807617, -0.83793058, -0.49142303,  1.22474487, -1.1697953 ],
       [ 1.23718454,  1.19341628, -1.4742691 , -0.81649658, -1.1697953 ],
       [-0.03752159,  1.19341628,  0.        , -0.81649658, -0.26995276],
       [ 1.52502141, -0.83793058, -1.4742691 , -0.81649658, -0.26995276],
       [ 0.16807617,  1.19341628,  0.        ,  1.22474487, -1.1697953 ],
       [-0.2019998 ,  1.19341628,         nan, -0.81649658, -0.26995276],
       [-0.36647801, -0.83793058,  1.4742691 ,  1.22474487, -0.26995276],
       [-0.73655399,  1.19341628,  1.4742691 , -0.81649658, -1.1697953 ],
       [-0.77767354,  1.19341628, -1.4742691 , -0.81649658,  0.62988978],
       [-1.27110817,  1.19341628, -1.4742691 ,  1.22474487, -1.1697953 ],
       [-0.77767354, -0.83793058,  0.49142303,  1.22474487, -1.1697953 ],
       [ 1.31942365, -0.83793058,  1.4742691 ,  1.22474487, -0.26995276],
       [ 0.33255438,  1.19341628,  1.4742691 , -0.81649658, -1.1697953 ],
       [ 1.60726052, -0.83793058,  0.49142303,  1.22474487,  0.62988978],
       [-1.31222773, -0.83793058, -0.49142303,  1.22474487,  0.62988978]])

In [20]:
np.round(x_train.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   71.0   80.0  80.0
mean   42.9     0.4  101.0    0.4   1.3
std    24.5     0.5    2.0    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0   99.5    0.0   0.0
50%    42.0     0.0  101.0    0.0   1.0
75%    65.0     1.0  103.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [21]:
x_train_new = pd.DataFrame(x_train_scaled , columns = x_train.columns)

In [22]:
x_train_new

         age    gender     fever     cough      city
0   1.566141 -0.837931  0.000000 -0.816497  1.529732
1  -1.558945 -0.837931 -0.491423 -0.816497  0.629890
2  -0.983271 -0.837931 -0.491423 -0.816497  0.629890
3  -0.654315  1.193416 -0.491423 -0.816497 -0.269953
4   1.237185 -0.837931  0.982846 -0.816497 -0.269953
..       ...       ...       ...       ...       ...
75 -0.777674 -0.837931  0.491423  1.224745 -1.169795
76  1.319424 -0.837931  1.474269  1.224745 -0.269953
77  0.332554  1.193416  1.474269 -0.816497 -1.169795
78  1.607261 -0.837931  0.491423  1.224745  0.629890
79 -1.312228 -0.837931 -0.491423  1.224745  0.629890

[80 rows x 5 columns]

In [23]:
np.round(x_train_new.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   71.0   80.0  80.0
mean   -0.0     0.0   -0.0   -0.0  -0.0
std     1.0     1.0    1.0    1.0   1.0
min    -1.6    -0.8   -1.5   -0.8  -1.2
25%    -0.9    -0.8   -0.7   -0.8  -1.2
50%    -0.0    -0.8    0.0   -0.8  -0.3
75%     0.9     1.2    1.0    1.2   0.6
max     1.7     1.2    1.5    1.2   1.5