In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:\\csv files\\covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
lb = LabelEncoder()

In [8]:
df["gender"] = lb.fit_transform(df["gender"])
df["cough"] = lb.fit_transform(df["cough"])
df["city"] = lb.fit_transform(df["city"])
df["has_covid"] = lb.fit_transform(df["has_covid"])

In [9]:
df.sample(20)

    age  gender  fever  cough  city  has_covid
55   81       0  101.0      0     3          1
58   23       1   98.0      1     3          1
0    60       1  103.0      0     2          0
8    19       0  100.0      1     0          0
18   64       0   98.0      0     0          1
2    42       1  101.0      0     1          0
71   75       0  104.0      1     1          0
7    20       0    NaN      1     3          1
16   69       0  103.0      0     2          1
36   38       0  101.0      0     0          0
65   69       0  102.0      0     0          0
44   20       1  102.0      1     1          0
85   16       0  103.0      0     0          1
66   51       1  104.0      0     2          0
63   10       1  100.0      0     0          0
95   12       0  104.0      0     0          0
57   49       0   99.0      1     0          0
62   56       0  104.0      1     0          1
28   16       1  104.0      0     2          0
46   19       0  101.0      0     3          0

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x = df.drop(columns= ["has_covid"] , axis = 1)
y = df['has_covid']

In [14]:
x_train ,x_test, y_train ,y_test = train_test_split(x,y,test_size=0.2 , random_state=34)

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
mn = MinMaxScaler()

In [18]:
x_train_mnscaler = mn.fit_transform(x_train)

In [20]:
np.round(x_train.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   72.0   80.0  80.0
mean   44.1     0.4  100.7    0.4   1.2
std    24.8     0.5    2.0    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0   99.0    0.0   0.0
50%    44.0     0.0  101.0    0.0   1.0
75%    65.2     1.0  102.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [23]:
x_train_new = pd.DataFrame(x_train_mnscaler , columns= x_train.columns)

In [25]:
np.round(x_train_new.describe() , 1)

        age  gender  fever  cough  city
count  80.0    80.0   72.0   80.0  80.0
mean    0.5     0.4    0.4    0.4   0.4
std     0.3     0.5    0.3    0.5   0.4
min     0.0     0.0    0.0    0.0   0.0
25%     0.2     0.0    0.2    0.0   0.0
50%     0.5     0.0    0.5    0.0   0.3
75%     0.8     1.0    0.7    1.0   0.7
max     1.0     1.0    1.0    1.0   1.0